<mat-form-field appearance="fill">
  <mat-label>Select State :</mat-label>
  <mat-select
    name="state"
    id="state"
    [(value)]="choosenState"
    (selectionChange)="statesDropdown()"
  >
    <mat-option [value]="state.state_id" *ngFor="let state of allStates">
      {{ state.state_name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Select District :</mat-label>
  <mat-select
    name="district"
    id="district"
    [(value)]="choosenDistrict"
    (selectionChange)="districtDropdown()"
  >
    <mat-option
      [value]="district.district_id"
      *ngFor="let district of allDistricts"
    >
      {{ district.district_name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-checkbox
  class="example-margin"
  [(ngModel)]="covishield"
  (change)="filterme({covishield},'vaccine')"
  >covishield</mat-checkbox
>
<mat-checkbox
  class="example-margin"
  [(ngModel)]="covaxin"
  (change)="filterme({covaxin},'vaccine')"
  >covaxin</mat-checkbox
>
<mat-checkbox
  class="example-margin"
  [(ngModel)]="sputnik"
  (change)="filterme({sputnik},'vaccine')"
  >sputnik V</mat-checkbox
>

<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [(ngModel)]="vaccineDate"
    (dateChange)="findByDistrict()"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
</mat-form-field>

<table *ngIf="allSessions.length > 0">
  <thead>
    <tr>
      <th>Sl No.</th>
      <th>Vaccine</th>
      <th>Place</th>
      <th>Slots</th>
      <th>Fee</th>
      <th>Dose 1 Capacity</th>
      <th>Dose 2 Capacity</th>
      <th>Allow All Age</th>
      <th>Minimum Age Limit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let session of allSessions; let i = index">
      <ng-container
        *ngIf="
          session.available_capacity_dose1 > 0 &&
          session.available_capacity_dose2 > 0
        "
      >
        <td>{{ i + 1 }}</td>
        <td>{{ session.vaccine }}</td>
        <td>
          {{ session.name }}<br />
          Address: {{ session.address }} ,<br />{{
            session.block_name
          }}
          ,<br />{{ session.pincode }}
        </td>
        <td>
          <tr *ngFor="let slot of session.slots">
            <td>
              {{ slot }}
            </td>
          </tr>
        </td>
        <td *ngIf="session.fee_type == 'Free'">{{ session.fee_type }}</td>
        <td *ngIf="session.fee_type !== 'Free'">{{ session.fee }}</td>
        <td>{{ session.available_capacity_dose1 }}</td>
        <td>{{ session.available_capacity_dose2 }}</td>
        <td>{{ session.allow_all_age }}</td>
        <td>{{ session.min_age_limit }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
